.form {
    background-color: #124E66;
    color: #D3D9D4;
    text-align: center;
    margin: 100px auto 0 auto;
    width: 50em;
    padding: 30px;
}

.input {
    background-color: #2E3944;
    margin: 20px auto;
    width: 20em;
    padding: 5px;
}

.input input {
    margin: 15px;
    padding: 10px;
    width: 22em;
}

.input p {
    color: red;
}

.submit p {
    margin: 30px 0;
}

.submit input {
    cursor: pointer;
    padding: 15px;
    background-color: #212A31;
    color: #D3D9D4;
    font-size: large;
}

.submit input:hover {
    transition: ease 0.15s;
    background-color: #D3D9D4;
    color: #212A31;
}

.link {
    margin: 30px 0 10px 0;
}

.form a {
    padding: 5px;
    color: #D3D9D4;
}

.form a:hover {
    transition: ease 0.15s;
    color: #212A31;
    background-color: #D3D9D4;
}

.header {
    display: flex;
}

.content {
    margin: auto;
    background-color: #2E3944;
}

.content textarea{
    width: 95%;
    height: 500px;
    margin: 10px auto;
}