.dashboard {
    margin: 100px auto 0 auto;
    padding: 80px;
    width: 50em;
    background-color: #124E66;
    color: #D3D9D4;
}

.myPosts {
    margin: 50px 0 0 0;
    background-color: #2E3944;
    padding: 20px;
}

.myPosts thead {
    background-color: #212A31;
}

.myPosts table {
    text-align: center;
    width: 100%;
    padding: 10px;
    margin: 30px 0 0 0;
    border-collapse: collapse;
}

.myPosts tr {
    height: 50px;
}

.myPosts tbody {
    font-size: large;
    background-color: #748D92;
    color: #212A31;
}

.myPosts tbody tr:nth-child(even) {
    background-color: #D3D9D4;
}

.myPosts a {
    color: #212A31;
    text-decoration: none;
    padding: 8px;
    border: 2px solid #212A31;
}

.myPosts a:hover {
    transition: ease 0.15s;
    background-color: #212A31;
    color: #D3D9D4;
}