.footer {
    width: 100%;
    position: relative;
    height: 200px;
    bottom: 0;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}