.comment {
    /* display: flex;
    justify-content: space-between; */
    background-color: #2E3944;
    margin: 10px 0;
    padding: 10px;
    font-size: medium;
}

.commentContent {
    margin: 0 10px;
}

.commentImage{
    width: 200px;
}

.commentContent p:nth-child(2){
    margin: 10px 0;
    padding: 20px;

    background-color: #212A31;
}