.login {
    background-color: #124E66;
    color: #D3D9D4;
    text-align: center;
    margin: 100px auto 0 auto;
    width: 30em;
    padding: 30px;
}

.input {
    background-color: #2E3944;
    width: 20em;
    margin: 20px auto;
    padding: 5px;
}

.login input {
    margin: 15px;
    padding: 10px;
    width: 20em;
}

.submit input{
    cursor: pointer;
    padding: 10px;
    background-color: #212A31;
    color: #D3D9D4;
    font-size: large;
}

.submit input:hover {
    transition: ease 0.15s;
    background-color: #D3D9D4;
    color: #212A31;
}

.login a {
    padding: 5px;
    color: #D3D9D4;
}

.login a:hover {
    transition: ease 0.15s;
    color: #212A31;
    background-color: #D3D9D4;
}