* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

#root {
    font-size: large;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #212A31;
}