.card {
    text-align: left;
    width: 450px;
    background-color: aliceblue;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.card:hover {
    transition: ease-in 0.1s;
    box-shadow: 5px 8px 15px 5px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card img {
    width: 100%;
}



.cardDetails {
    padding: 25px 35px;
}

.cardDetails a {
    background-color: white;
    border: 1px solid black;
    text-decoration: none;
    color: black;
}

.cardDetails a:hover {
    background-color: blue;
    color: white;
}